<!doctype html>
<html lang="en">
<head>
    % include("templates/component/head_component.html", filepath=filepath)
</head>
<body>
<header>
    % include("templates/component/filepath_form_component.html", filepath=filepath)
</header>
% if media_infos_groups:
<main>
    % for year_month, media_infos in media_infos_groups.items():
    <section>
        <h1>{{Utils.year_month_label(year_month)}}</h1>

        % for media in media_infos:
        <a href="?filepath={{media.path}}">
            % include("templates/component/media_component.html", media=media, size='SMALL')
        </a>
        % end
    </section>
    % end
</main>
% else:
<main>
    <p class="empty">There aren't any media files in this directory.</p>
</main>
% end

</body>
</html>