body {
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.media-box {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    /* 290px + 16px margin = optimal for FullHD */
    width: 300px;
    margin: 0px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    vertical-align: top;
}

.media-box-big {
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: top;
}

.empty {
    color: #666;
}